<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio de Sesión{{apellido}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>{{persona.nombre}}</p>
  <p>{{usuario}}</p>
  <ion-item>
    <ion-input label="nombre de usuario" labelPlacement="floating" placeholder="ingrese su nombre" [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-button color="success" [routerLink]="['/home']">Ir al Home</ion-button>
  <ion-button color="warning" (click)="irPagina()">Ir a Agregar</ion-button>
</ion-content>