<ion-header [translucent]="true">
  <app-componente1 titulo="Pagina login"></app-componente1>
</ion-header>

<ion-content [fullscreen]="true">
  <p *ngIf = "persona.edad <25 "> {{persona.nombre}}</p>
  <p>{{persona.nombre}}</p>
  <p>{{usuario}}</p>

  <ion-item>
    <ion-input label="nombre de usuario" labelPlacement="floating" aria-placeholder="ingrese su nombre de usuario" [(ngModel)]="usuario"> </ion-input> 
  </ion-item>

  <ion-item *ngFor="let personita of listaP">
    <p>{{personita.id}} - {{personita.comuna | uppercase}}</p>
  </ion-item>

  <ion-button color="success" [routerLink]="['/home']">Ir al Home</ion-button>
  <ion-button color="warning" (click)="irPagina()">Ir a Agregar</ion-button>
  
</ion-content>